<div style="max-width:800px;margin:0 auto;padding:20px;">
  <h1 style="">New Property</h1>
  <%= render 'form', property: @property %>
  <div style="">
    <%= link_to 'Back', properties_path, class:"btn btn-secondary" %>
  </div>
</div>