<div class="glider-contain" style="
margin: 0 auto;">
  <div class="glider" style="margin: 0 auto;">
    <% property.photos.each do |photo| %>
      <%= cl_image_tag photo.key, :crop=>"fill" %>
    <% end %>
  </div>
  <div role="tablist" id="dots"></div>
</div>