<div class="footer">
    <div class="spacer"></div>
    <div class="flex-center" style="flex-direction:column;gap:5px;">
    <%= image_tag("/logo.png", style:"width:30px;") %>
    <p style="color:rgb(242, 242, 242);font-size:10px;font-weight:100;">powered by S&C</p>
    </div>
</div>