<div style="max-width:800px;margin:0 auto;">
  <div class="spacer"></div>
  <h1><i style="margin-right:10px;" class="fas fa-vote-yea"></i>Admin</h1>
  <div class="spacer-sm"></div>
  <% unless @reservations.present? %>
    <p>There are no pending reservations, everything is up to date !</p>
  <% end %>
  <% @reservations.each do |reservation| %>
    <%= render 'shared/admin_reservation', reservation: reservation%>
  <% end %>
</div>