<div class=" page-container" style="">
  <div class="flex-center">
    <div class="page-title">
      <h4 style="text-align: center;color:white;margin-bottom: 0;"> <%= current_user.first_name %>'s calendar</h4>
      <hr style="margin-top:0;border-top: 2.5px solid;">
    </div>
  </div>

  <div style="max-width:800px;" class="">

  <%= render 'shared/user_calendar', user: current_user %>
  </div>
</div>

