<div style="max-width:800px;margin:0 auto;">
  <div class="spacer"></div>
  <h1>Reservations</h1>
  <div class="spacer-sm"></div>
  <% unless @reservations.where.not(status: 0).present? %>
    <p>You don't have any pending or confirmed reservations. To make one, go to <a data-turbolinks="false" href="/properties">properties.</a></p>
  <% end %>
  <% @reservations.where.not(status: 0).each do |reservation| %>
    <%= render 'shared/reservation', reservation: reservation%>
  <% end %>
</div>