<div style="max-width:700px;margin:0 auto;">
  <div class="spacer"></div>
  <h2>My Calendar</h2>
  <%= render 'shared/user_calendar', user: current_user %>
  <div class="spacer"></div>
  <h2>My Reservations</h2>
  <% @reservations.where.not(status: 0).each do |reservation| %>
    <div class="reservation-line">
      <p style="font-weight:bold;"><%= reservation.property.name %></p>
      <p><%= reservation.days %></p>
      <%= link_to "Cancel", cancel_reservation_path(reservation), class:"btn btn-secondary", data:{ confirm: "Are you sure?", disable_with: "Processing..." } %>
    </div>
  <% end %>
</div>